
//
// DEVICES
//

.device {
  position: relative;
  background-size: cover;
}

.device .app-screenshot {
  position: absolute;
  width: 240px;
  height: auto;
}

//
// iPhone SE Silver Vertical
//

.device.iphone-se-silver-vertical {
  width: 288px;
  height: 608px;
  background-image: url(../../images/devices/iphone-se-silver-vertical.png);
}
.device.iphone-se-silver-vertical .app-screenshot {
  top: 91px;
  left: 25px;
  width: 240px;
}

//
// iPhone SE Space Gray Vertical
//

.device.iphone-se-space-gray-vertical {
  width: 288px;
  height: 608px;
  background-image: url(../../images/devices/iphone-se-space-gray-vertical.png);
}
.device.iphone-se-space-gray-vertical .app-screenshot {
  top: 91px;
  left: 25px;
  width: 240px;
}

//
// iPod Touch Blue Vertical
//

.device.ipod-touch-blue-vertical {
  width: 291px;
  height: 614px;
  background-image: url(../../images/devices/ipod-touch-blue-vertical.png);
}
.device.ipod-touch-blue-vertical .app-screenshot {
  top: 87px;
  left: 23px;
  width: 246px;
}

.form-control__input {
  border-width: 0;
  border-radius: 5px;
  font-size: 14px;
  height: 50px;
}

.user-signup__submit {
  border-width: 0;
  border-radius: 0;
  font-size: 14px;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  background-color: #0191FF;
  color: #FFF;
  border-radius: 5px;
}

.user-signup__submit:hover {
  background-color: #337ab7;
  color: #FFF;
}

.temp-button-prelaunch {
  background-color: #555;
  &:hover {
    background-color: #555;
    cursor: default;
  }
}

.temp-coming-soon {
  font-size: 24px;
  margin-bottom: 15px;
}
